<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head>
<body>
    <img src= "{{url_for('static', filename='enter.jpg')}}" alt="Welcome Image" class="image"/>
    <h1>Lenesia Brown</h1>
    <p>Hello my name is Lenesia Brown. I'm currently a third year student doing a major in
        Information Technology at the University of the West Indies, Mona. I was born and raised in Kingston, Jamaica. 
    I attended Hydel Prepartory School and Meadowbrook High School. I enjoy swimming and watching Netflix.</p>
</body>
</html>